{% include 'header.html' %}
<style>
    a{
        text-decoration: none;
    }
    button{
        margin: 0px -40px;
        background-color: rgba(247, 251, 22, 0.518);
        color: white;
        padding: 8px 20px;
    }
    input{
        margin: 0px 70px;
        background-color: red;
        color: white;
        padding: 8px 20px;
        cursor: pointer;
    }
</style>
{% block content %}
<br>
<br>
<form method="post">
    {% csrf_token %}
    <h3><p>Are you sure you want to delete "{{task}}"?</p></h3>
    <input type="submit" value="Confirm">
    <button><a href="{% url 'home'%}">Go back</a></button>  
</form>


{% endblock content %}